!!! 5
%html{ :lang => "en"}
  %head
    %title= "Neo Love Match"
    /[if lt IE 9]
      %script(src="http://html5shiv.googlecode.com/svn/trunk/html5.js")


    %meta{ 'http-equiv' => "Content-Type", :content => "text/html; charset=UTF-8"}
    %meta{ :content => "Use a graph database to find the best love match ever.", :name => "description" }
    %meta{ :content => "Max De Marzi", :name => "author" }
    %meta{ :content => "3 days", :name => "revisit-after" }

    %link{ rel: "apple-touch-icon", href: "/bootstrap/images/apple-touch-icon.png"}
    %link{ rel: "shortcut icon", href: "/favicon.ico"}
    %link{ rel: "apple-touch-icon", sizes: "72x72", href: "/bootstrap/images/apple-touch-icon-72x72.png"}
    %link{ rel: "apple-touch-icon", sizes: "114x114", href: "/bootstrap/images/apple-touch-icon-114x114.png"}
    %link{ rel: "stylesheet", type: "text/css", href: "/bootstrap/css/bootstrap.css"}
    %link{ rel: "stylesheet", type: "text/css", href: "/bootstrap/css/bootstrap-responsive.css"}
    %link{ rel: "stylesheet", type: "text/css", href: "/css/style.css"}
  %body
    %header
      = haml  :'partials/header'
    %section{:id => 'container'}
      = yield
    %footer
      = haml  :'partials/footer'
