.container
  .content
    .row
      %h2="Had this been a real application #{@user} would have added #{@skill} to their profile."
      %br
      %i 
        Alas, it's just a sample project, so 
        lets see the 
        %a{:href=>"/"} job matches
        of another user.