.container
  .content
    .row
      %h2="Had this been a real application you would be able to contact #{@user}."
      %br
      %i 
        Alas, it's just a sample project, so 
        lets see the 
        %a{:href=>"/"} love matches
        of another user.